<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/blog">
                Blog Assignment
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog Posts</a>
                    </li>
                    <li class="nav-item" v-if="computedUser">
                        <a class="nav-link" href="/blog/create">Post an Entry</a>
                    </li>
                    <li class="nav-item" v-if="!computedUser">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown" v-if="computedUser">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ computedUser && computedUser.full_name }} <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
                            <a class="dropdown-item" href="/logout">
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
export default {
    data() {
        return {

        };
    },
    props: {
        user: {
            type: Object,
            required: false,
            default: null
        },
    },
    methods: {
        //
    },

    computed: {
        computedUser() {
            return (typeof this.user.email == 'undefined') ? null:this.user;
        },
    },

    mounted() {
        //
    },

    created() {
        //
    },

    watch: {
        //
    }
}
</script>
