<template>
    <div>
        <div class="paginator float-right">
            <i class="fa fa-arrow-circle-left hover-rating" v-if="dataObject.current_page > 1" @click.prevent="paginate(1)"></i>
            <i class="fa fa-chevron-circle-left hover-rating" v-if="dataObject.current_page > 1" @click.prevent="paginate(dataObject.current_page-1)"></i>
            <i class="fa fa-chevron-circle-right hover-rating" v-if="dataObject.current_page < dataObject.last_page" @click.prevent="paginate(dataObject.current_page+1)"></i>
            <i class="fa fa-arrow-circle-right hover-rating" v-if="dataObject.current_page < dataObject.last_page" @click.prevent="paginate(dataObject.last_page)"></i>
        </div>
        <div class="paginator float-left" v-if="dataObject && dataObject.total > dataObject.per_page">
            <span class="">Page {{ dataObject.current_page }} of {{ dataObject.last_page }}</span>
            <span class="">| {{ dataObject.total }} Results Found</span>
        </div>
        <div class="clearfix"></div>
    </div>
</template>
<style scoped>
.hover-rating {
    cursor: pointer;
}
</style>
<script>
export default {
    props: {
        dataObjectName: {
            type: String,
            required: true,
        },
        paginateMethodName: {
            type: String,
            required: true,
        },
    },
    methods: {
        paginate(page) {
            this.$parent[this.paginateMethodName](page);
        }
    },
    computed: {
        dataObject() {
            return this.$parent[this.dataObjectName];
        }
    }
};
</script>
<style type="text/css" scoped>
.handPointer {
    cursor: pointer;
}
</style>
