<template>
    <div class="row py-3">
        <div class="col-md-12">
            <div class="postContainer">
                <img :src="post.image_url" class="img-fluid" v-if="!$parent.loading">
                <img src="https://via.placeholder.com/895x250.png/eceaea?text=%27%27" class="img-fluid" v-if="$parent.loading">
                <div class="pt-3 pb-1">
                    <div class="float-left">
                        <small><span :class="{'loading': $parent.loading}">Created on {{ post.created_at | datetime }} by {{ post.user.full_name }}</span></small>
                    </div>
                    <div class="float-right">
                        <post-rating :post="post" v-if="!$parent.loading"></post-rating>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h3 class="pt-2 pb-1 m-0" :class="{'loading': $parent.loading}">{{ post.short_title }}</h3>
                <div class="pt-2">
                    <span :class="{'loading': $parent.loading}">
                        {{ post.description }}
                    </span>
                    <span :class="{'loading': $parent.loading}">
                        <a :href="'/blog/' + post.slug" :title="post.title" :class="{'loading': $parent.loading}">Read More</a>

                    </span>
                    <span v-if="$parent.computedUser && $parent.computedUser.id == post.user.id" :class="{'loading': $parent.loading}">| <a :class="{'loading': $parent.loading}" :href="'/blog/' + post.id + '/edit'" :title="'Edit blog post ' + post.short_title">Edit</a></span>
                    <span v-if="$parent.computedUser && $parent.computedUser.id == post.user.id" :class="{'loading': $parent.loading}">| <a :class="{'loading': $parent.loading}" href="javascript:void(0);" :title="'Delete blog post ' + post.short_title" @click.prevent="deletePost()">Delete</a></span>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
div.postContainer {
    background-color: white;
    padding: 15px;
}
.loading, a.loading, a.loading:link, a.loading:visited {
    background-color: #eceaea;
    color: #eceaea;
}
</style>
<script>
export default {
    data() {
        return {
            //
        };
    },
    props: {
        post: {
            type: Object,
            required: true,
        },
    },
    methods: {
        deletePost() {
            this.$parent.loading = true;
            axios.delete('/api/blog/' + this.post.id, {'post_id': this.post.id}).then(response => {
                this.$parent.getPosts();
            }, error => {
                this.$parent.loading = false;
            });
        },
    },

    computed: {
        //
    },

    mounted() {
        //
    },

    created() {
        //
    },

    watch: {
        //
    }

}
</script>
