<template>
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Blog Post</h2>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title">Post Title</label>
                    <input type="text" class="form-control" name="title" v-model="form.title" :disabled="loading" required>
                    <div class="text-danger" v-show="form.errors.has('title')">{{ form.errors.get("title")}}</div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="blog_post" rows="10" name="blog_post" v-model="form.blog_post" :disabled="loading" required></textarea>
                    <div class="text-danger" v-show="form.errors.has('blog_post')">{{ form.errors.get("blog_post")}}</div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary float-right" @click.prevent="postBlog()" v-if="isFormFilled" :disabled="loading">Submit</button>
            </div>
        </div>
</template>
<script>
export default {
    props: {
        post: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            loading: false,
            form: {}
        };
    },
    methods: {
        postBlog() {
            this.loading = true;
            axios.patch('/api/blog/' + this.post.id, this.form).then(response => {
                window.location.href = '/blog';
            }, error => {
                this.form.setErrors(error.response.data.errors);
                this.loading = false;
            });
        },
        resetForm () {
            this.form = new AppForm({
                'title':this.post.title,
                'blog_post':this.post.blog_post,
            });
        },
    },

    computed: {
        isFormFilled() {
            if(this.validateIfFormIsFilled([
                this.form.title,
                this.form.blog_post,
            ])) {
                return true;
            }
            return false;
        },
        hasAnyFormErrors() {
            if(this.form && this.form.errors.errors && _.size(this.form.errors.errors) > 0) {
                return true;
            }
            return false;
        },
    },

    mounted() {
        //
    },

    created() {
        this.resetForm();
    },

    watch: {
        //
    }

}
</script>
