<template>
    <div class="row">
        <div class="col-md-8">
            <blog-post v-for="(post,key) in posts.data" v-show="posts.data.length > 0" :key="key" :post="post"></blog-post>
            <paginate dataObjectName="posts" paginateMethodName="getPosts"></paginate>
        </div>
        <div class="col-md-4">
            <blog-sidebar></blog-sidebar>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        user: {
            type: Object,
            required: false,
            default: null
        },
    },
    data() {
        return {
            posts: [],
            loading: false,
        };
    },
    methods: {
        getPosts(page = 1) {
            this.loading = true;
            axios.get('/api/blog/?page=' + page).then(response => {
                this.posts = response.data;
                this.loading = false;
            }, error => {
                alert('Unable to load posts. An error has occurred.');
                this.loading = false;
            });
        },
    },

    computed: {
        computedUser() {
            return (typeof this.user.email == 'undefined') ? null:this.user;
        },
    },

    mounted() {
        //
    },

    created() {
        // get posts
        this.getPosts();
    },

    watch: {
        //
    }

}
</script>
