<template>
    <div class="row py-3">
        <div class="col-md-8">
            <div class="postContainer">
                <img :src="post.image_url" class="img-fluid" v-if="!loading">
                <img src="https://via.placeholder.com/895x250.png/eceaea?text=%27%27" class="img-fluid" v-if="loading">
                <div class="pt-3 pb-1">
                    <div class="float-left">
                        <small><span :class="{'loading': loading}">Created on {{ post.created_at | datetime }} by {{ post.user.full_name }}</span></small>
                    </div>
                    <div class="float-right">
                        <post-rating :post="post" v-if="!loading"></post-rating>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h3 class="pt-2 pb-1 m-0" :class="{'loading': loading}">{{ post.title }}</h3>
                <div class="pt-2">
                    <span :class="{'loading': loading}" v-html="post.blog_post"></span>
                    <span v-if="computedUser.id == post.user.id" :class="{'loading': loading}">| <a :class="{'loading': loading}" :href="'/blog/' + post.id + '/edit'" :title="'Edit blog post ' + post.short_title">Edit</a></span>
                    <span v-if="computedUser.id == post.user.id" :class="{'loading': loading}">| <a :class="{'loading': loading}" href="javascript:void(0);" :title="'Delete blog post ' + post.short_title" @click.prevent="deletePost()">Delete</a></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <blog-sidebar></blog-sidebar>
        </div>
    </div>
</template>
<style scoped>
div.postContainer {
    background-color: white;
    padding: 15px;
}
.loading, a.loading, a.loading:link, a.loading:visited {
    background-color: #eceaea;
    color: #eceaea;
}
</style>
<script>
export default {
    data() {
        return {
            loading: false
        };
    },
    props: {
        post: {
            type: Object,
            required: true,
        },
        user: {
            type: Object,
            required: true,
        },
    },
    methods: {
        deletePost() {
            this.loading = true;
            axios.delete('/api/blog/' + this.post.id, {'post_id': this.post.id}).then(response => {
                window.location.href = '/blog';
            }, error => {
                this.loading = false;
            });
        },
    },

    computed: {
        computedUser() {
            return this.user;
        },
    },

    mounted() {
        //
    },

    created() {
        //
    },

    watch: {
        //
    }

}
</script>
