<template>
    <div class="sidebarContainer mt-3">
        <div><h4>Most Recent Posts</h4></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item sidebarLine" v-for="(post,key) in recentPosts" :key="key"><a :href="'/blog/' + post.slug" :title="post.title">{{ post.title }}</a></li>
        </ul>
    </div>
</template>
<style scoped>
div.sidebarContainer {
    background-color: white;
    padding: 15px;
}
li.sidebarLine {
    font-size: 13px;
    padding: 5px 0;
}
</style>
<script>
export default {
    data() {
        return {
            recentPosts: [],
        };
    },
    methods: {
        getRecentPosts() {
            axios.get('/api/recent-posts').then(response => {
                this.recentPosts = response.data;
            }, error => {
                // @todo
            });
        },
    },

    computed: {
        //
    },

    mounted() {
        //
    },

    created() {
        // get sidebar data
        this.getRecentPosts();
    },

    watch: {
        //
    }

}
</script>
