<template>
    <div>
        <span :title="'Give a ' + index + ' star rating'" v-for="index in postData.average_rating" :key="index">
            <span class="fa fa-star hover-rating" @click.prevent="ratePost(index)"></span>
        </span>
        <span :title="'Give a ' + (index + postData.average_rating) + ' star rating'" v-for="index in (5 - postData.average_rating)" :key="index+postData.average_rating">
            <span class="hover-rating" :class="{'fa fa-star-o': !isHovering,'fa fa-star': isHovering}" @mouseover="isHovering = true" @mouseout="isHovering = false" @click.prevent="ratePost((index + postData.average_rating))"></span>
        </span>
    </div>
</template>
<style scoped>
.hover-rating {
    cursor: pointer;
}
.hover-rating:hover{
    color: #1f6fb2;
}
</style>
<script>
export default {
    data() {
        return {
            isHovering: false,
            reloadData: null
        };
    },
    props: {
        post: {
            type: Object,
            required: true,
        },
    },
    methods: {
        ratePost(rating) {
            axios.post('/api/rate-post', {'post_id': this.post.id, 'rating': rating}).then(response => {
                this.reloadData = response.data;
            }, error => {
                // @todo
            });
        },
    },

    computed: {
        postData() {
            return this.reloadData ?? this.post;
        },
    },

    mounted() {
        //
    },

    created() {
        //
    },

    watch: {
        //
    }

}
</script>
